<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalLabel">Excluir Item</h4>
      </div>
      <div class="modal-body">
        Deseja realmente excluir este item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$ctrl.delete($ctrl.idDelete)" data-dismiss="modal" >Sim</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
      </div>
    </div>
  </div>
</div> <!-- /.modal -->

<a ui-sref="add" class="btn-primary btn nodecoration">Adicionar Compromisso</a>
<div class="linha"></div>
<div class="message">
    <h3 ng-show="$ctrl.compromissos.length < 1">Nenhum compromisso agendado.</h3>
    <h3 ng-show="$ctrl.compromissos.length > 0">Todos Compromissos - ({{$ctrl.totalCompromissos;}})</h3>
</div>

<table class="table comptable">
    <tr>
        <td><span>Titulo</span></td>
        <td><span>Data / Hora de Inicio</span></td>
        <td><span>Data / Hora de Termino</span></td>      
        <td></td>
    </tr>
    <tr ng-repeat="comp in $ctrl.compromissos">
        <td>{{comp.titulo}}</td>
        <td>{{comp.dataIni}} / {{comp.horaIni}}</td>
        <td>{{comp.dataTermino}} / {{comp.horaTermino}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="view({id:comp.id})" title="Detalhes" aria-label="Detalhes"><i class="fa fa-bars" aria-hidden="true"></i></a>

            <!-- <a class="btn btn-danger"  ng-click="$ctrl.delete(comp.id)" title="Delete" aria-label="Delete"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a> -->
            
            <a href="#" class="btn btn-danger" data-toggle="modal"  ng-click="$ctrl.guardaId(comp.id)" title="Delete" aria-label="Delete" data-target="#delete-modal"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>    


        </td>
    </tr>
</table>
<div class="paginacao" ng-show="$ctrl.totalPaginas > 1">
    <form>
        <span>Pagina</span>
        <input type="text" id="txtPaginacao" name="txtPaginacao" disabled value="{{$ctrl.page}}">
        <span>de {{$ctrl.totalPaginas}}</span>
        <a href="" ng-click="$ctrl.anterior()"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
        <a href="" ng-click="$ctrl.proximo()"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
    </form>
</div>

