<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a  class="navbar-brand" >Agenda de Compromisso</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a ui-sref="list">Inicio</a></li>
      </ul>
    </div>
  </div>
</nav>