<div class="container">
        <div class="row top-buffer">
            <div class="col-xs-8 col-xs-offset-2">
              <ng-transclude></ng-transclude>      
            </div>
        </div>
    </div>