<div class="edit">    
<h1>Adicionar Compromisso</h1>

</div>
<div ng-show="$ctrl.teste > 0 " class="totalCompromissos">
  <h5>Total Compromissos: {{$ctrl.teste}}</h5>  
</div>


<form name="$ctrl.formComp" class="form-horizontal"  ng-submit="$ctrl.add() " novalidate>

<div class="form-group" ng-class="{ 'has-error' :  $ctrl.formComp.titulo.$invalid && ($ctrl.formComp.$submitted || $ctrl.formComp.titulo.$touched) }">
    <label for="titulo" class="col-sm-2 control-label">*Titulo</label>
    <div class="col-sm-10">
      <input type="text" name="titulo" ng-model="$ctrl.comp.titulo" class="form-control" id="titulo" placeholder="Titulo do Compromisso" required/>
      <div ng-if="$ctrl.formComp.titulo.$invalid && ($ctrl.formComp.$submitted || $ctrl.formComp.titulo.$touched)" ng-messages="$ctrl.formComp.titulo.$error" role="alert" >
      <div ng-message="required" class="help-block" >Titulo é Obrigatorio.</div>
    </div>
  </div>
</div>

<div class="form-group" ng-class="{ 'has-error' :  $ctrl.formComp.dataIni.$invalid && ($ctrl.formComp.$submitted || $ctrl.formComp.dataIni.$touched) }">
  <label for="dataIni" class="col-sm-2 control-label">*Data de Inicio</label>
  <div class="col-sm-10">
    <div class="baseCalendar">
      <input id="txtData" type="text" placeholder="__/___/___"  name="dataIni" ng-model="$ctrl.comp.dataIni" class="form-control" required>
      <div class="calendar">
       <i class="fa fa-calendar fa-2x" aria-hidden="true" ng-model="$ctrl.dataMomentIni" moment-picker="$ctrl.comp.dataIni" locale="pt-br"  format="L" autoclose="true" start-view="month" today="true"></i>
     </div>
   </div>
   <div ng-if="$ctrl.formComp.dataIni.$invalid && ($ctrl.formComp.$submitted || $ctrl.formComp.dataIni.$touched)" ng-messages="$ctrl.formComp.dataIni.$error" role="alert" >
      <div ng-message="required" class="help-block" >Data de Inicio é Obrigatorio.</div>
    </div>
 </div>
</div>

<div class="form-group" ng-class="{ 'has-error' :  $ctrl.formComp.horaIni.$invalid && ($ctrl.formComp.$submitted || $ctrl.formComp.horaIni.$touched) }">
  <label for="horaIni" class="col-sm-2 control-label">*Hora de Inicio</label>
  <div class="col-sm-10">
    <div class="baseCalendar">
      <input id="txtData" type="text" placeholder="00:00"  name="horaIni" ng-model="$ctrl.comp.horaIni" class="form-control" required>
      <div class="calendar">
       <i class="fa fa-clock-o fa-2x" aria-hidden="true" ng-model="$ctrl.horaMomentini" moment-picker="$ctrl.comp.horaIni" locale="pt-br"  format="LT" autoclose="true" start-view="month" today="true"></i>
     </div>
   </div>
   <div ng-if="$ctrl.formComp.horaIni.$invalid && ($ctrl.formComp.$submitted || $ctrl.formComp.horaIni.$touched)" ng-messages="$ctrl.formComp.horaIni.$error" role="alert" >
      <div ng-message="required" class="help-block" >Hora de Inicio é Obrigatorio.</div>
    </div>
 </div>
</div>


<div class="form-group" ng-class="{ 'has-error' :  $ctrl.formComp.dataTermino.$invalid && ($ctrl.formComp.$submitted || $ctrl.formComp.dataTermino.$touched) }">
  <label for="dataTermino" class="col-sm-2 control-label">*Data de Termino</label>
  <div class="col-sm-10">
    <div class="baseCalendar">
      <input id="txtData" type="text" placeholder="__/___/___"  name="dataTermino" ng-model="$ctrl.comp.dataTermino" class="form-control" required>
      <div class="calendar">
       <i class="fa fa-calendar fa-2x" aria-hidden="true" ng-model="$ctrl.dataMomentFim" moment-picker="$ctrl.comp.dataTermino" locale="pt-br"  format="L" autoclose="true" start-view="month" today="true"></i>
     </div>
   </div>
   <div ng-if="$ctrl.formComp.dataTermino.$invalid && ($ctrl.formComp.$submitted || $ctrl.formComp.dataTermino.$touched)" ng-messages="$ctrl.formComp.dataTermino.$error" role="alert" >
      <div ng-message="required" class="help-block" >Data de Termino é Obrigatorio.</div>
    </div>
 </div>
</div>

<div class="form-group" ng-class="{ 'has-error' :  $ctrl.formComp.horaTermino.$invalid && ($ctrl.formComp.$submitted || $ctrl.formComp.horaTermino.$touched) }">
  <label for="horaTermino" class="col-sm-2 control-label">*Hora de Termino</label>
  <div class="col-sm-10">
    <div class="baseCalendar">
      <input id="txtData" type="text" placeholder="00:00"  name="horaTermino" ng-model="$ctrl.comp.horaTermino" class="form-control" required>
      <div class="calendar">
       <i class="fa fa-clock-o fa-2x" aria-hidden="true" ng-model="$ctrl.horaMomentTermino" moment-picker="$ctrl.comp.horaTermino" locale="pt-br"  format="LT" autoclose="true" start-view="month" today="true"></i>
     </div>
   </div>
   <div ng-if="$ctrl.formComp.horaTermino.$invalid && ($ctrl.formComp.$submitted || $ctrl.formComp.horaTermino.$touched)" ng-messages="$ctrl.formComp.horaTermino.$error" role="alert" >
      <div ng-message="required" class="help-block" >Hode de Termino é Obrigatorio.</div>
    </div>
 </div>
</div>  

<div class="form-group">
  <label for="detalhes" class="col-sm-2 control-label">Detalhes</label>
  <div class="col-sm-10">
    <textarea ng-model="$ctrl.detalhe" class="form-control" id="detalhe" placeholder="Detalhe do comp" rows="3"></textarea>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Salvar"/>
    <a ui-sref="list" class="btn btn-danger nodecoration">Cancelar</a>
  </div>
</div>
</form>
