<div class="edit">    
<h1>Detalhes do Compromisso</h1>
</div>
<div ng-show="$ctrl.teste > 0 " class="totalCompromissos">
  <h5>Total Compromissos: {{$ctrl.teste}}</h5>  
</div>
<form class="form-horizontal">

<div class="form-group">
    <label for="titulo" class="col-sm-2 control-label">Titulo</label>
    <div class="col-sm-10">
        <input type="text" ng-model="$ctrl.compromisso.titulo" class="form-control" id="titulo" disabled />
    </div>
</div>
 <div class="form-group">
    <label for="dataIni" class="col-sm-2 control-label">Data de Inicio</label>
    <div class="col-sm-10">
        <input type="text" ng-model="$ctrl.compromisso.dataIni" class="form-control" id="dataIni" disabled />
    </div>
</div>
<div class="form-group">
    <label for="horaIni" class="col-sm-2 control-label">Hora de Inicio</label>
    <div class="col-sm-10">
        <input type="text" ng-model="$ctrl.compromisso.horaIni" class="form-control" id="horaIni" disabled />
    </div>
</div>
<div class="form-group">
    <label for="dataTermino" class="col-sm-2 control-label">Data de Termino</label>
    <div class="col-sm-10">
        <input type="text" ng-model="$ctrl.compromisso.dataTermino" class="form-control" id="dataTermino" disabled />
    </div>
</div>
<div class="form-group">
    <label for="horaTermino" class="col-sm-2 control-label">Hora de Termino</label>
    <div class="col-sm-10">
        <input type="text" ng-model="$ctrl.compromisso.horaTermino" class="form-control" id="horaTermino" disabled />
    </div>
</div>
 <div class="form-group">
    <label for="detalhes" class="col-sm-2 control-label">Detalhes</label>
    <div class="col-sm-10">
      <textarea ng-model="$ctrl.compromisso.detalhe" class="form-control" id="detalhe" rows="3" disabled></textarea>
    </div>
  </div>   
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <a class="btn btn-primary" ui-sref="edit({id:$ctrl.compromisso.id})">Editar</a>
      <a ui-sref="list" class="btn btn-danger nodecoration">Voltar</a>
    </div>
  </div>
</form>
