@import "./styles/*.scss";
@import "./app/components/**/*.scss";

body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #E8E8E8;
}

a {
  color: #00B7FF;
}

.top-buffer{
  margin-top:10px;
}

.comptable tr td{
  border-bottom: 1px solid #c1c1c1;
}

.comptable tr td:nth-child(4){
  width: 150px;
  text-align: center;
}


.comptable tr:nth-child(1) td{
  border-top: none;
  font-size: 18px;
}

a.nodecoration{
  text-decoration:none;
}

.linha{
  margin-top: 10px;
  border-top: 1px solid #c1c1c1;
}
.message {
  margin: 30px 0 30px 0;
}

.paginacao{ clear: both; float: right; padding-top: 5px; }
.paginacao a{
  width: 27px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  color:#6A6A6A;
  display: inline-block;
  background:#F8F8F8;
  border:1px solid #EBEBEB;
  border-color: #2e6da4;
  border-radius: 7px;
  
}

.paginacao a:hover{ background-color: #EBEBEB; }
.paginacao input[type="text"]{
  width: 25px;
  height: 25px;
  line-height: 10px;
  text-align: center;
  font: 13px/44px opensans, arial; 
  color:#6a6a6a;
  border: 1px solid #EAEFF0;
  box-sizing: border-box;
  border-radius: 7px;
  border-color: #2e6da4;

}
.paginacao span{ font: 13px/27px opensans, arial; color: #6a6a6a; margin: 0 10px; }

textarea {
resize:none;
}

.edit h1{
  text-align: center;
  padding: 10px;
}


.baseCalendar {
  display: flex;
  position: relative;
}

.calendar {
  right: 2px;
  top: 2px;
  width: 60px;
  position: absolute;
  background: #f2f2f2;
  border-left: 1px solid #c1c1c1;
  padding: 1px;
  text-align: center;
  border-radius: 0 0 0 0;
}

.calendar i:focus {
  outline: none;
  border: none;
}

.totalCompromissos {
  margin-left: 125px;
  text-align: left;
}